// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: #CECECE;
}

.sub-form {
  width: 300px;
}

.header {
  height: 100vh;
  &:hover { cursor: asset-url("down_cursor.svg"), auto;
  }
}

.cocktail {
  height: 50vh;
}
