// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: #CECECE;
}

.sub-form {
  width: 300px;
}

.header {
  height: 100vh;
  &:hover { cursor: asset-url("down_cursor.svg"), auto;
  }
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(2, 19, 34, 0.73)), url('https://source.unsplash.com/featured/?cocktail');
  background-size: cover;
  background-position: center;
}

.cocktail {
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.recipe, .cocktail-name {
  width: 300px;
  background-color: rgba(255,255,255,0.3);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px rgba(255,255,255,0.3);
}

.recipe ul{
  margin-bottom: 0;
  text-align: right;
  list-style: none;
}

.cocktail img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  background-position: center;
  opacity: 0.6;
};
.background-semitransp {
  mix-blend-mode: multiply;
}
